<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<h2>Before you start...</h2>
<p>In your Google account, you need to grant access to third party applications. So navigate to <a href="https://security.google.com/settings/security/secureaccount?pli=1">https://security.google.com/settings/security/secureaccount?pli=1</a></p>
and in the "Access for less secure apps enabled" section,  turn the access to "On".
<br>
<br>
<h2>How to Use Email Blaster</h2>
<p>This program has the ability to create email templates and upload email
    lists as CSV files in order to dynamically send mass emails. The templates
    are designed so that the program can loop through the E-mail csv list
    and send emails to each contact on the list whilst implanting personal information
    (names, product brands) associated with each item in the list. Below, each feature
    of the app is explained.</p>
<br>
<br>
<h2>Creating and editing Templates</h2>
<p>
    In order to create a template, click on "Manage Templates" in the left side
    menu. Type in what you would like to name the template in the "Name" input box.
    Then formulate the email template in the "Subject" and "Body" boxes as you would
    like them to appear in your emails.
</p>
<p>At this point you may be asking, "If every Brand and Contact name in the template
    will change with each email, how can I make it so that certain words within the E-mail
    change with each E-mail?" That is where E-Mail variables come in.
</p>
<p>
    Currently within the program there are two email variables you need to worry about: Brand and Contact.
</p>
<p>
    In order to properly construct an E-mail template, wherever you want the Brand name to appear
    within the E-mail, insert "xxxxBRANDxxxx" and wherever you want the Contact name to show
    within the Email, insert "xxxxCONTACTxxxx".
</p>

</body>
</html>