{% load staticfiles %}
<!-- Send the Blast -->

<div id="Email-Blast">
    
    <input type="button" id="send-blast" onclick="sendBlast()" value="send blast">

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            
    <!-- Choose the email you want to send from -->
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Choose an Email</h3></div>
        <div class="panel-body">
            <select id="google-user">
                {% for user in usernames %}
                    <option value="{{ user }}">{{user}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Prep an Email Blast and Send it to DOM for execution -->
    <div class="panel panel-default">
                    
        <div class="panel-heading"><h3>Choose an Email Template</h3></div>
        <nav>
            <ul>
            <!-- List Templates stored -->
                {% for template in email_templates %}
                <li><input type="button" onclick="showTemp(this.value)" class = "select-template" value="{{ template }}"></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
        
    <!-- Prep an Email List and Send it to DOM for execution -->
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Choose an Email List</h3></div>
        <nav>
            <ul>
                {% for email_list in email_lists %}
            
                   <li><input type="button" onclick="emailListOnChange(this.value)" value="{{ email_list }}"></li>
            
                {% endfor %}
            </ul>
        </nav>
    </div>
        

    <!-- Add attachments to the email-->
    <div class="panel panel-default">
                <div class="panel-heading"><h3>Choose an Email</h3></div>
                    <div class="panel-body"><div>
                        <nav>
                            <ul>
                                {% for attachment in attachments %}
                    
                                    <li><input class="add-attachment" onclick="addAttachment(this.value)" type="button" value="{{ attachment }}"></li>
                    
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
</div>
        <div class="col-sm-5">
        
            <div id="show-list-preview">
            </div>
            <div>
                <p>
                    <h4>Email List File:</h4><div id="chosen-list"></div>
                </p>
                <p>
                    <h4>Template:</h4>
                    <div id="chosen-template"></div>
                    <div id= "showsubject"></div>       
                    <div id = "showbody"></div>
                </p>
                <div id="attachments">
                    <h4>Attachments:</h4>
                    <ul id="attachment-list"></ul>
                </div>
                <div id="test-list"></div>
                <div id="test-temp"></div>
            </div>
        </div>
    </div>
</div>