<br>
<br>
<br>
<div id="upload-list-box" >
<div id="confirm-action-attachment">{{ confirm }}</div>
    <form  action="/upload-list-file/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ email_list_form.non_field_errors }}</p>
        <p>{{ email_list_form.docfile.label_tag }} </p>
        <p>
            {{ email_list_form.docfile.errors }}
            {{ email_list_form.docfile }}
        </p>
        <input type="submit" value="Upload" />
    </form>

    <div>
        <h3>Current Email Lists Uploaded</h3>
        <ul>
            {% for email_list in email_lists %}

                <li><input name="{{ email_list }}"  type="button" onclick="deleteEmailList(this.name) "value="X"><b>{{ email_list }}</b></li>

            {% endfor %}
        </ul>
    </div>
</div>

<div id="upload-attachment-box">
    <form  action="/upload-attachment/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>{{ attachment_form.non_field_errors }}</p>
        <p>{{ attachment_form.docfile.label_tag }} </p>
        <p>
            {{ attachment_form.docfile.errors }}
            {{ attachment_form.docfile }}
        </p>
        <input type="submit" value="Upload" />
    </form>

    <div>
        <h3>Current Attachments Uploaded</h3>
        <ul>
            {% for attachment in attachments %}

                <li><input name="{{ attachment }}" type="button" onclick="deleteAttachment(this.name)" value="X"><b>{{ attachment }}</b></li>

            {% endfor %}
        </ul>
    </div>

</div>
